.header{
    color:blue;
}

body{
    background-color:slategrey;
}

#number-one{
    color:"orangered";
}

#number-two{
    font-family:cursive;
    font-size:20px;
    float:right;
    margin:10%;
}

#number-dose{
    font-style:oblique;
    border:solid 2px green;
    float:left;
    margin:10%;
}

#navbar{
    background-color:goldenrod
}

li{
    list-style:none;
    display:inline;
    margin:10%;
}

